.vz-ss__orders-app {
  display: flex;
  flex-wrap: wrap;
  max-width: 68rem;
  margin: 0 auto;
}

.vz-ss__header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 68rem;
  margin: 0 auto;
  padding: 1rem;
  h1 {
    margin: 0;
    padding: 0;
  }
  .actions {
    display: flex;
    gap: 1rem;
  }
  button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;

    &.--active {
      background-color: #cc0033;
    }
  }
}

.vz-ss__order-filters {
  margin: 0;
  padding: 1rem;
  width: 30%;
}

.vz-ss__filter {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  min-width: 10rem;
  margin-top: 1rem;
  input {
    padding: 0.8em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
  }
}

.vz-service-spaces__orders {
  width: 70%;
}

.vz-ss__orders__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.vz-ss__no-orders {
  text-align: center;
  padding: 1rem;
  border: 1px dashed #ccc;
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .vz-ss__order-filters {
    width: 100%;
  }
  .vz-service-spaces__orders {
    width: 100%;
  }
}