.vz-ss__header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 68rem;
  margin: 0 auto;
  padding: 1rem;
  h1 {
    margin: 0;
    padding: 0;
  }
  .actions {
    display: flex;
    gap: 1rem;
  }
  button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;

    &.--active {
      background-color: #cc0033;
    }
  }
}

.vz-ss__order-filters {
  display: grid;
  justify-content: space-between;
  max-width: 68rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
}

.vz-ss__filter {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  min-width: 10rem;

  input {
    padding: 0.8em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
  }
}

.vz-ss__orders__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  max-width: 68rem;
  margin: 0 auto;
  padding: 0;
  list-style: none;

}
