.vz-ss__header {
  text-align: center;

  h1 {
    margin: 0;
    padding: 0;
  }
}

.vz-ss__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.vz-ss__item {
  padding: 1rem;
}

.vz-ss__card {
  
}